<!-- This page is the homepage for logged in users for the service -->
<!-- Uses bootstrap as a common framework as a common layout -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bioscope - Home</title>
		
		<!-- Favicon -->
		<link rel=icon href="../static/img/icon.png">
		
		<!-- Fonts from CDN -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
		
		<!-- Bootstrap from CDN -->
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- local style overrides -->
		<link href="../static/home.css" rel="stylesheet">
		
		<!--<script src="../static/js/jquery-3.2.1.min.js"></script>-->
		<!--<script src="../static/js/signup.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		
		<!-- Default navbar's behaviour will be overrided to add transperancy. Check the CSS file -->
		<nav class = "navbar navbar-default">
			
			<!-- Bioscope Logo on the left side of the navbar -->
			<div class = "container-fluid">
				<a href="/home" class="navbar-left"><img src="../static/img/logo.png" width="200" height="45"></a>
			
				<!-- SignIn and Signup buttons on the right side of the navbar -->
				<div class = "collapse navbar-collapse">
					<ul class = "nav navbar-nav navbar-right">
						<li class = "dropdown">
							<a class="dropdown-toggle" data-toggle = "dropdown" href = "#" style="color: white;">{{ user }}<span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="/queue">Queue</a></li>
								<li><a href="#">Settings</a></li>
								  <li class="divider"></li>
								<li><a href="#">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>	
		</nav>
		
		<!-- Default container to hold elements. Will be centered -->
		<div class = "container">
			
			<!-- Search bar -->

			<form class = "form-horizontal"  action="/search" method = "POST">
				<div class = "row">
					<div class = "form-group col-xs-6">
						<div class = "radio-custom">
						<label><input type="radio" name="optradio" checked value = "Movie">Movie</label>
						<label><input type="radio" name="optradio" value = "Actor">Actor</label>
						</div>
					</div>
					
					<div class = "form-group col-xs-9 has-feedback">						
						
						<input type="text" class="form-control" name="search" placeholder = "Search by movie title, or actors..." required/>
						<span class="glyphicon glyphicon-search form-control-feedback"></span>

					</div>
				</div>
			</form>			

			<!-- Browse by Genre -->
			<div class = "panel panel-default" id = "browse">
				<div class = "panel-heading">
					<form id = "formGenre" method="POST" action="/browseByGenre">
						<div class="dropdown">
							<label class ="dropdown-label" for="genre">Browse by genre:</label>
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> {{ selectedGenre }}
							<span class="caret"></span></button>
							<ul class="dropdown-menu " id = "genreMenu" >
								<!-- loop starts -->
								{% for genre in genres %}
								<li><a href="#" >{{ genre }}</a></li>
								{% endfor %}
								<!-- loop ends -->
							</ul>
							<input id = "genre" type="hidden" name = "genre" value="Drama">
						</div>
					</form>
				</div>

				<div class = "panel-body" >
					<div class = "col-sm-6">
						<div class = "cover-container">
							{% for movie in movies %}
								<!-- Loop here -->						
									<div class="thumbnail">
										<h4>Rating : {{ movie.Rating }}</h4>

										<img src="{{ movie.Poster }}" width="182" height="268">
										<form action = "/movie" method = "POST">
											<button class = "btn btn-primary col-xs-12" type = "submit" formtarget="_blank">Details</button>
											<input type = "hidden" name = "Id" value = "{{ movie.Id }}">
										</form>						
									</div>
								<!-- End Loop -->						
							{% endfor %}
						</div>
					</div>			
				</div>	

				<!-- Script to update the dropdown with selected item 
				 and updates the hidden field submitting the form -->
				<script type="text/javascript">
				$("#genreMenu li a").click(function(){
					$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
					$("#genre").val($(this).text());
					$("#formGenre").submit();

				});
				</script>

				<!-- Script to scroll to a certain div after page refresh -->
				{% if scroll %}
				<script>
					document.getElementById('{{ scroll }}').scrollIntoView();
					// or
					document.location.hash = '#' + '{{ scroll }}';
				</script>
				{% endif %}
			</div>

			<!-- Bestseller Section -->
			<div class = "panel panel-default">
				<div class = "panel-heading">Best Sellers</div>

				<div class = "panel-body">
					<div class="row">
						<div class = "col-sm-6">
							<div class = "cover-container">
								{% for post in posts %}
									<!-- Loop here -->						
										<div class="thumbnail">
											<h4>Rating : {{ post.Rating }}</h4>

											<img src="{{ post.Poster }}" width="182" height="268">
											<form action = "/movie" method = "POST">
												<button class = "btn btn-primary col-xs-12" type = "submit">Details</button>
												<input type = "hidden" name = "Id" value = "{{ post.Id }}">
											</form>								
										</div>
									<!-- End Loop -->						
								{% endfor %}
							</div>
						</div>			
					</div>				
				</div>		
			</div>
		</div>

			
	</body>
</html>