<!-- This page is for Sign =ing up users for the service -->
<!-- Uses bootstrap as a common framework as a common layout -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign In for Bioscope</title>
		
		<!-- Favicon -->
		<link rel=icon href="../static/img/icon.png">
		
		<!-- Fonts from CDN -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
		
		<!-- Bootstrap from CDN -->
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- local style overrides -->
		<link href="../static/signIn.css" rel="stylesheet">
		<style>
			.panel-heading { color: darkred;}
		</style>
		<!--<script src="../static/js/jquery-3.2.1.min.js"></script>-->
		<!--<script src="../static/js/signup.js"></script>-->
	</head>

	<body>
		
		<!-- Default navbar's behaviour will be overrided to add transperancy. Check the CSS file -->
		<nav class = "navbar navbar-default">
			
			<!-- Bioscope Logo on the left side of the navbar -->
			<div class = "container-fluid">
				<a href="/" class="navbar-left"><img src="../static/img/logo.png" width="200" height="45"></a>
			
				<!-- SignIn and Signup buttons on the right side of the navbar -->
				<div class = "collapse navbar-collapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "#" style="color: white;">Browse Catalog</a></li>
					</ul>
				</div>
			</div>	
		</nav>
		
		<!-- Default conatoner to hold elements. Will be centeres -->
		<div class = "container text-center">
			<img src="../static/img/logo_stroke2.png" width ="420" height="200">
			
			<div class="panel panel-default">
				<div class="panel-heading">Please login below to continue</div>
				<div class="panel-body">
					
					<form class="form-horizontal" action="/validateLogin" method="POST">						
											
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Email:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="em" placeholder=" Enter a valid email address" name="em" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="Password">Password:</label>
							<div class="col-sm-10">          
								<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
							</div>
						</div>
						
						
						<button type="submit" class="btn btn-primary" id = "btnSignIn">Sign In</button>
						
					</form>				
				</div>
			</div>
			
		</div>
	</body>
</html>