
<!-- This page is for Sign =ing up users for the service -->
<!-- Uses bootstrap as a common framework as a common layout -->

<!-- Update : AJAX support removeed due to confusion among GET and 				 POST methods. Redirection is solely done via app.py -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign up for Bioscope</title>
		
		<!-- Favicon -->
		<link rel=icon href="../static/img/icon.png">
		
		<!-- Fonts from CDN -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
		
		<!-- Bootstrap from CDN -->
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- local style overrides -->
		<link href="../static/signIn.css" rel="stylesheet">
		
		<!-- Uncomment following lines to add AJAX support -->
		<!--<script src="../static/js/jquery-3.2.1.min.js"></script>-->
		<!--<script src="../static/js/signup.js"></script>-->
	</head>

	<body>
		
		<!-- Default navbar's behaviour will be overrided to add transperancy. Check the CSS file -->
		<nav class = "navbar navbar-default">
			
			<!-- Bioscope Logo on the left side of the navbar -->
			<div class = "container-fluid">
				<a href="#" class="navbar-left"><img src="../static/img/logo.png" width="200" height="45"></a>
			
				<!-- SignIn and Signup buttons on the right side of the navbar -->
				<div class = "collapse navbar-collapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "#" style="color: white;">Browse Catalog</a></li>
						<li><a href = "#" style="color: white;">Sign In</a></li>
					</ul>
				</div>
			</div>	
		</nav>
		
		<!-- Default conatoner to hold elements. Will be centeres -->
		<div class = "container text-center">
			<img src="../static/img/logo_stroke2.png" width ="420" height="200">
			
			<div class="panel panel-default">
				<div class="panel-heading">Sign up</div>
				<div class="panel-body">
					
					<form class="form-horizontal" action="/signUpUser" method="POST">
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="FirstName">First Name:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="fn" placeholder="Enter first name" name="fn" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="LastName">Last Name:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="ln" placeholder="Enter last name" name="ln" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Email:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="em" placeholder="Enter a valid email address" name="em" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="Password">Password:</label>
							<div class="col-sm-10">          
								<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
							</div>
						</div>
						
						<!-- Select plan table -->
						<br>
						<p style="font-weight: bold">Select a plan:</p>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td style="text-align: center;">
										<div class="radio">
											<label><input type="radio" name="optradio" value = "limited" required>Limited</label>
										</div>
										
										<br>
										<ul>
											<li>Watch one movie at a time</li>
											<li>2 movies per month</li>
											<li>Monthly fee - $10</li>
										</ul>
										
									</td	>
									<td style="text-align: center;">
										<div class="radio">
											<label><input type="radio" name="optradio" value = "unlimited">Unlimited</label>
										</div>
										
										<br>
										<ul>
											<li>Watch one movie at a time</li>
											<li>Unlimited movies per month</li>
											<li>Monthly fee - $20</li>
										</ul>
										
									</td>
								</tr>
							</tbody>
						</table>
						
						<!-- Address gathering -->
						<div class="form-group">
							<label class="control-label col-sm-2" for="StreetAddress">Street:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="sa" placeholder="Enter street address" name="sa" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="City">City:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="ct" placeholder="Enter city name" name="ct" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="Zipcode">State:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="st" placeholder="Enter state" name="st" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="Zipcode">Zipcode:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="zip" placeholder="Enter zip code" name="zip" required>
							</div>
						</div>
						
							<div class="form-group">
							<label class="control-label col-sm-2" for="Telephone">Telephone:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="tel" placeholder="Enter contact number" name="tel" required>
							</div>
						</div>
						
						<!-- No validation occurs here. TODO : maybe a fixed length credit card number -->
						<div class="form-group">
							<label class="control-label col-sm-2" for="CreditCard">Credit Card:</label>
							<div class="col-sm-10">          
								<input type="text" class="form-control" id="cc" placeholder="Enter Credit Card number" name="cc" required>
							</div>
						</div>
						
						<!-- TODO : Link to Terms & Services -->
						<br>
						<p>By clicking sign up, you are agreeing to our terms of service.</p>
						
						<button type="submit" class="btn btn-primary" id = "btnSignUp">Sign Up</button>
						
					</form>				
				</div>
			</div>
			
		</div>
	</body>
</html>